html{
    min-height: 100vh;
}
body{
    background-color: #1B1B1F;
    background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='6000' height='200' preserveAspectRatio='none' viewBox='0 0 6000 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1295%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c94 C 150%2c114 450%2c201 750%2c194 C 1050%2c187 1200%2c61 1500%2c59 C 1800%2c57 1950%2c192.4 2250%2c184 C 2550%2c175.6 2700%2c24.8 3000%2c17 C 3300%2c9.2 3450%2c145 3750%2c145 C 4050%2c145 4200%2c9 4500%2c17 C 4800%2c25 4950%2c184.2 5250%2c185 C 5550%2c185.8 5850%2c53.8 6000%2c21L6000 200L0 200z' fill='rgba(129%2c 129%2c 141%2c 0.63)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1295'%3e%3crect width='6000' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"),
    
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='6000' height='200' preserveAspectRatio='none' viewBox='0 0 6000 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1302%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c149 C 150%2c130.4 450%2c48.6 750%2c56 C 1050%2c63.4 1200%2c181.4 1500%2c186 C 1800%2c190.6 1950%2c79.8 2250%2c79 C 2550%2c78.2 2700%2c185.8 3000%2c182 C 3300%2c178.2 3450%2c76.2 3750%2c60 C 4050%2c43.8 4200%2c100.4 4500%2c101 C 4800%2c101.6 4950%2c52.2 5250%2c63 C 5550%2c73.8 5850%2c136.6 6000%2c155L6000 200L0 200z' fill='rgba(43%2c 43%2c 49%2c 0.63)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1302'%3e%3crect width='6000' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position-y: bottom;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.columns{
    min-height: 70vh;
}
.playing{
    font-weight: bold;
}

.name
{
    color: rgba(255, 255, 255, 0.6);
}
.data-lado1{
    width: 100%;
    min-height: 400px;
    height: 100%;
    padding: 0px 50px 0px 50px;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.data-lado2{
    width: 100%;
    height: 100%;
    padding: 0px 50px 0px 50px;
}
.data-centro{
    width: 100%;
    min-height: 400px;
    height: 100%;
}

.profile{
    border-radius: 100%;
    width: 4vw;
}
.prof2{
    filter: opacity(70%);
}
.prof3{
    filter: opacity(60%);
}

table{
    width: 100%;
}
th{
    font-weight: bold;
    text-align: center;
    width: 80px;
}
.images{
    height: 100px;
    color: rgb(216, 216, 216);
    font-weight: bold;
    font-size: 1vw;
}

.next{
    color: rgb(150, 150, 150);
}
.later{
    color: rgb(143, 143, 143);
}
.reproduciendo{
    background: rgb(27,27,31);
background: linear-gradient(0deg, rgba(18,1,5) 0%, rgba(101,6,25,1) 100%);
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.song-container{
    position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 135%;
}

.responsive-iframe{
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.ad{
    height: 100%;
    width: 100%;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ad-image{
    height: 75%;  
    background-color: #232327;
    border-radius: 20px;
} 
.ad-image-mc{
    background-image: url("https://cdn.discordapp.com/attachments/722579939261677690/829877306042482718/ad.jpg");
    width: 100%;
    height: 80%;
    background-position-x: 90%;
    background-position-y: 20%;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.397);
    background-repeat: no-repeat;
    background-size: 170%;
    transition: font-size 0.3s, filter 0.3s;
}
.ad-image-mc:hover{
    filter: opacity(60%);
    color: white;
    font-weight: bold;
    font-size: 2vw;
}
.socImages{
    padding: 25px 0px 25px 0px;
    transition: transform 1s;
}
.socImages:hover{
    transform: scale(1.2,1.2);
}
.socials{
background-color: #1F1F23;
border-radius: 30px;
}
.responsive-iframe2{
    padding: 4px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.first-song{
    background: rgb(27,27,31);
background: linear-gradient(0deg, #070F17 20%, #265986 100%);
    position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 37%;
  border-radius: 8px;
}
.oldest{
    background: rgb(27,27,31);
background: linear-gradient(0deg, #051D16 50%, #1A9F79 100%);
    position: relative;
  width: 100%;
  overflow: hidden;
  padding-top:80%;
  border-radius: 8px;
}
.buttonsContainer{
    width: 100%;
    position:relative;
    bottom: -8%;
}
.buttonsAd{
border-radius: 40px;
height: 0.7vw;
margin:0px 15px 0px 15px;
}
.buttonAd1
{
    background-color: rgb(112, 112, 112);
    transition: background-color 0.4s;
}
.buttonAd1:hover
{
    background-color: rgb(201, 201, 201);
}

.buttonAd2{
    background-color: rgb(201, 201, 201);

}
.buttonAd3{
    background-color: rgb(112, 112, 112);
    transition: background-color 0.4s;

}
.buttonAd3:hover{
    background-color: rgb(201, 201, 201);
    transition: background-color 0.4s;

}

@media (max-width:992px){
    .playing{
        font-size: 3vh;
    }
    .data-lado1{
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    .data-lado2{
        width: 100%;
        height: 100%;
        padding: 0px;
    min-height: 700px;
    }
    th{
        font-size: 3vh;
    }
    .images{
        font-size: 2.1vh;
    }
    .text-start{
        font-size: 4vh;
    }
    .socials{
        margin-top: 3vh;
        margin-bottom: 9vh;
    }
    .col-lg-4{
        margin-top: 5vh;
    }
    .profile{
        width: 8vh;
    }
    .current{
        margin-top: 2vh;
    }
    .first-song{
        padding-top: 60%;
    }
    .oldest{
        margin-top: 3vh;
    }
    .buttonsAd{
        height: 2vh;
        }
    .ad-image-mc{
        background-size: cover;
    }
    .ad-image-mc:hover{
        font-size: 5vw;
    }   
}